# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy
4. plotly

| Data Science Tools |
| ------------------ |
| JupyterLab |
| Visual Studio Code |
| RStudio |

 ### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
# This is a simple arithmetic expression to muliply then add integers.
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries used by Data Science.
- Make a table with some Data Science Tools.
- Make a simple aritmetic expression.
- Convert minutes to hours.

## Author
Juan Jos√© Jurado